.todo-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  max-width: 600px;

  &__group {
    display: flex;
    align-items: center;
    color: #d79e64;
    font-size: 20px;

    &__label {
      margin-left: 10px;
      font-weight: 500;
    }

    &__select {
      padding: 10px;
      font-size: 2rem;
    }
  }
}

@media (max-width: 768px) {
  .todo-filter {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;

    &__group {
      width: 100%;
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 15px;

      &__label {
        margin-left: 0;
        margin-bottom: 5px;
        font-size: 1.5rem;
      }

      &__select {
        width: 100%;
        padding: 8px;
        font-size: 1.5rem;
      }
    }
  }
}
